html{
    --font-regular: 'Roboto-regular',sans-serif;
    --font-bold: 'Roboto-bold',sans-serif;
    --font-italic: 'Roboto-italic',sans-serif;

    --color-accent: #15a4fa;
    --color-lighter: #71c9ff;
    --color-accent-opacity: #15a2fa91;
    --color-dark: #2d3950;
    --color-bright: #999999;
    --color-bg-light: #f6f9f9;
    --color-text-light: #fff;
};