html{
    --font-regular: 'Roboto-regular',sans-serif; //400
    --font-bold: 'Roboto-bold',sans-serif; //700
    --font-italic: 'Roboto-italic',sans-serif;

    --color-accent: #fff;
    --color-bg: #fff;
};