<section class="catalog">
    <div class="container catalog__container">
        <ul class="catalog__grid list--reset">
            <li class="catalog__item catalog__item-1">
                <img src="./img/bg-test.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            <li class="catalog__item catalog__item-2">
                <img src="./img/big.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            <li class="catalog__item catalog__item-3">
                <img src="./img/bg-1.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            <li class="catalog__item catalog__item-4">
                <img src="./img/bg-test.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            <li class="catalog__item catalog__item-5">
                <img src="./img/bg-1.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            <li class="catalog__item catalog__item-6">
                <img src="./img/bg-test.webp" alt="image" class="catalog__img">
                <div class="catalog__overlay">
                    <a href="#" class="catalog__link icon-link"></a>
                </div>
                <div class="catalog__pin">
                    <img src="./img/pin.webp" alt="pin" class="catalog__img">
                </div>
            </li>
            
        </ul>
    </div>
</section>