<section class="content">
    <div class="container content__container">
        <ul class="content__list list--reset">
            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-sass"></span>
                        <p class="content__text">Sass/Scss</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>

            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-react"></span>
                        <p class="content__text">React JS</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>

            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-github"></span>
                        <p class="content__text">GitHub</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>
            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-js"></span>
                        <p class="content__text">JS</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>
            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-mobile content__icon--colored"></span>
                        <p class="content__text">Adaptive</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-half"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>

            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-gulp"></span>
                        <p class="content__text">Gulp</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-half"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>

            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-php"></span>
                        <p class="content__text">PHP</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>

            <li class="content__item">
                <div class="content__wrap">
                    <div class="content__col">
                        <span class="content__icon icon-mysql"></span>
                        <p class="content__text">MySql</p>
                    </div>
                </div>
                <div class="content__wrap">
                    <ul class="content__icons list--reset">
                        <li class="content__box"><span class="content__rate icon-star-full"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                        <li class="content__box"><span class="content__rate icon-star-empty"></span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>