<footer class="footer">
    <div class="container footer__container">
        <ul class="footer__wrap list--reset">
            <li class="footer__col">
                <div class="footer__row">
                    <span class="footer__phone icon-mobile"></span>
                    <span class="footer__text">0556 355 004</span>
                </div>
                <p class="footer__text">&copy; Сделано в 2021</p>
            </li>
            <li class="footer__col footer__col--row">
                <div class="footer__box">
                    <a href="#" class="footer__icon icon-github footer__icon--git"></a>
                </div>
                <div class="footer__box">
                    <a href="#" class="footer__icon icon-telegram footer__icon--colored"></a>     
                </div>
                <div class="footer__box">
                    <a href="#" class="footer__icon icon-whatsapp"></a>  
                </div>
            </li>
        </ul>
    </div>
</footer>