<header class="header">
    <div class="container header__container">
        <div class="header__wrap">
            <div class="logo">
                <div class="logo__picture"></div>
                <h1 class="logo__title">Dilewsky <span>Yura</span></h1>
            </div>
        </div>
        <div class="header__wrap">
            <ul class="nav list--reset ">
                <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Резюме</a></li>
            </ul>              
        </div>
        <div class="header__wrap header__wrap--hide">
            <button class="hamburger hamburger--emphatic" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
        </div>
    </div>
    <div class="mobile mobile--hide">
        <div class="mobile__overlay">
            <ul class="mobile__menu list--reset">
            <li class="mobile__item"><a href="#" class="mobile__link">Главная</a></li>
            <li class="mobile__item"><a href="#" class="mobile__link">Резюме</a></li>
        </ul>
        </div>
    </div>
</header>