.catalog{
    min-height: 40vh;
    padding: 60px 0;
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(50px,1fr));
        grid-auto-rows: 85px;
        grid-gap: 20px;
        @include media(528px){
            grid-auto-rows: 130px;
        }
        @include media(768px){
            grid-template-columns: repeat(3,minmax(50px,1fr));
            grid-auto-rows: 170px;
            grid-gap: 35px;
        }
    }
    &__item{
        position: relative;
        height: 100%;
        border-radius: 10px;
        transition: all .7s;
        -webkit-box-shadow: -4px 4px 16px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -4px 4px 16px -4px rgba(0,0,0,0.75);
        box-shadow: -4px 4px 16px -4px rgba(0,0,0,0.75);
        &:hover .catalog__overlay{
            height: 100%;
            opacity: 100%;
            visibility: visible;
        }
        &:hover .catalog__pin{
            transform: translateY(-55%) scale(1.1);
        }
    }
    &__overlay{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        background: linear-gradient(319deg, rgba(107, 238, 227, 0.678) 34%, rgba(255, 255, 255, 0.451) 54%, rgba(19, 228, 207, 0.489) 66%, rgba(255, 255, 255, 0.432) 79%); 
        transition: all .7s;
    }
    &__link{
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.692);
        border-radius: 5px;
        transition: 0.7s;
        &:hover{
            background: rgba(59, 59, 59, 0.829);
            color: var(--color-accent);
        }
    }
    &__pin{
        position: absolute;
        top: -23px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 42px;
        height: 42px;
        transition: all .6s;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}