.content{
    min-height: 40vh;
    background: var(--color-text-light);
    padding: 40px 0;
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        flex: 1 1 50%;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;

    }
    &__wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:first-child{
            margin-right: 20px;
        }
    }
    &__col{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        border: 5px solid rgba(206, 206, 206, 0.212);
        padding: 5px;
        border-radius: 10px;
        width: 95px;
        height: 115px;
    }
    &__text{
        font-family: var(--font-bold);
        font-size: 16px;
        color: #888;
    }
    &__icons{
        display: flex;
        padding-top: 35px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 42px;
        // padding-left: 5px;
        margin-bottom: 10px;
        &--colored{
            color: #555;
        }
        @include media(440px){
            font-size: 54px;
        }
    }
    &__rate{
        font-size: 28px;
        color: var(--color-accent);
        @include media(440px){
            font-size: 38px;
        }
    }
}