.contact{
    min-height: 60vh;
    padding: 5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.744),rgba(0, 0, 0, 0.744)), url('../img/road-bg.webp');
    background-position: top,center;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    &__wrap{
        display: flex;
        justify-content: center;
    }
    &__form{
        width: 80%;
        @include media(968px){
            width: 40%;
        }
    }
    &__wrapper{
        width: 100%;
        height: 2.5rem;
        margin-bottom: 0.9375rem;
    }
    &__input{
        width: 100%;
        height: 100%;
        color: #777;
        font-family: var(--font-regular);
        padding: 0 0.9375rem;
        border-radius: 0.3125rem;
        border: none;
        font-size: 0.875rem;
    }
    &__text-area{
        width: 100%;
        min-height: 9.375rem;
        margin-bottom: 0.9375rem;
        font-family: var(--font-regular);
        font-size: 0.875rem;
        color: #777;
        padding: 0.9375rem;
        border-radius: 0.3125rem;
        border: none;
    }
    &__row{
        display: flex;
        justify-content: flex-end;
    }
}
