.content{
    min-height: 40vh;
    background: var(--color-text-light);
    padding: 2.5rem 0;
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        flex: 1 1 50%;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1.875rem;

    }
    &__wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:first-child{
            margin-right: 1.25rem;
        }
    }
    &__col{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        border: 0.3125rem solid rgba(206, 206, 206, 0.212);
        padding: 0.3125rem;
        border-radius: 0.625rem;
        width: 5.9375rem;
        height: 7.1875rem;
    }
    &__text{
        font-family: var(--font-bold);
        font-size: 1rem;
        color: #888;
    }
    &__icons{
        display: flex;
        padding-top: 2.1875rem;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.625rem;
        margin-bottom: 0.625rem;
        &--colored{
            color: #555;
        }
        @include media(440px){
            font-size: 3.375rem;
        }
    }
    &__rate{
        font-size: 1.75rem;
        color: var(--color-accent);
        @include media(440px){
            font-size: 2.375rem;
        }
    }
}