html,body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
};
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-regular);
};
*{
    box-sizing: inherit;
    &::after, &::before{
        box-sizing: inherit;
    };
};
body{
    min-width: 320px;
    background-color: var(--color-bg-light);
};
.wrapper{
    position: relative;
    min-height: 100%;
    overflow: hidden;
};
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
    @include media(728px){
        padding: 0 15px;
    }
};
p,h1,h2,h3,h4,h5,h6{
    margin: 0 auto;
    padding: 0;
};
.list--reset{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn{
    padding: 12px  30px;
    text-decoration: none;
    border: none;
    text-align: center;
    font-family: var(--font-bold);
    font-size: 14px;
    border-radius: 6px;
    background: var(--color-accent);
    color: #fff;
    transition: .5s;
    &:hover{
        background: var(--color-dark);
    }
}