.footer{
    min-height: 10vh;
    padding: 0.625rem 0;
    border-top: 0.125rem solid var(--color-accent);
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__col{

        &--row{
            display: flex;
        }
    }
    &__box{
        margin: 0.3125rem;
        padding: 0.3125rem;
    }
    &__icon{
        font-size: 1.75rem;
        text-decoration: none;
        &--colored{
            color: #2ba0d9;
        }
        &--git{
            color: #333;
        }
    }
    &__phone{
        color: #777;
        font-size: 0.875rem;
        font-family: var(--font-bold);
    }
    &__text{
        padding-top: 0.625rem;
        color: #777;
        font-family: var(--font-bold);
        font-size: 0.875rem;
    }
}