.header{
    position: relative;
    min-height: 4.375rem;
    padding-top: 0.625rem;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.9375rem;
        padding-bottom: 0.9375rem;
    }
    &__wrap{
        
        &--hide{
            
            @include media(728px){
                display: none;
            }
        }
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    &__picture{
        width: 3.4375rem;
        height: 3.4375rem;
        border-radius: 50%;
        background: #ccc;
        border: 0.1875rem solid rgba(255, 255, 255, 0.788);
        margin-right: 0.625rem;
    }
    &__title{
        font-family: var(--font-bold);
        font-size: 0.875rem;
        width: 2.5rem;
        text-align: left;
        & span{
            font-family: var(--font-italic);
            font-size: 1rem;
        }
    }
    &__picture{
        overflow: hidden;
      }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}
.nav{
    display: none;
    justify-content: center;
    align-items: center;
    @include media(728px){
        display: flex;
    }
    &__item{
        margin-right: 0.625rem;
        
        & a{
            position: relative;
            text-decoration: none;
            color: var(--color-dark);
            font-family: var(--font-bold);
            text-transform: uppercase;
            font-size: 0.875rem;
            transition: all .5s;
            &::before{
                position: absolute;
                content: '';
                bottom: -0.625rem;
                width: 0;
                height: 0.125rem;
                border-radius: 0.625rem;
                background: var(--color-accent);
                transition: all .8s;
            }
            &:hover{
                color: var(--color-accent);
                &::before{
                    width: 100%;
                }
            }
        }
    }
}
.mobile{
    transition: all .6s;
    &__overlay{
        position: fixed;
        z-index: 33;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 100%;
        background: rgba(0, 0, 0, 0.856);
        transition: all .6s;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item{
        margin: 0.3125rem 0;
        & a{
            text-decoration: none;
            font-family: var(--font-regular);
            color: var(--color-text-light);
            font-size: 1.375rem;
            transition: all .5s;
            &:hover{
                color: var(--color-accent);
            }
        }
    }
    &--hide{
        opacity: 100%;
        visibility: hidden;
        z-index: -2;
        & .mobile__overlay{
            opacity: 0;
        }
    }
    
}
.hamburger{
    position: relative;
    z-index: 9;
}
.lang{
    position: absolute;
    top: -1.25rem;
    right: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #ccc;
    border: 0.25rem solid #fff;
    border-radius: 0.3125rem;
    transform: rotateZ(45deg);
    &__text{
        padding-top: 0.625rem;
        transform: rotateZ(-45deg);
        font-family: var(--font-bold);
        font-size: 0.875rem;
        color: var(--color-text-light);
        text-decoration: none;
    }
}