.info{
    min-height: 87vh;
    width: 100%;
    background: 
        url('../img/bg-1.webp') top center / cover,
        rgba(85, 84, 84, 0.89);
    background-blend-mode: multiply;
    &__container{
        padding-top: 35vh;
    }
    &__wrap{
        width: 18.75rem;
        min-height: 12.5rem;
        text-align: center;
        color: var(--color-text-light);
        margin: 0 auto;
    }
    &__title{
        position: relative;
        z-index: 1;
        font-family: var(--font-bold);
        font-size: 1.75rem;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
        color: inherit;
        &::before{
            position: absolute;
            content: '';
            bottom: -0.9375rem;
            left: 0;
            margin: 0 auto;
            width: 100%;
            height: 0.125rem;
            background: var(--color-accent);
        }
    }
    &__text{
        font-size: 1rem;
        color: inherit;
        margin-bottom: 1.65rem;
    }
}