.main{
    min-height: 20vh;
    &--style{
        margin-bottom: 2.5rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__title{
        font-family: var(--font-bold);
        font-size: 1.375rem;
        color: var( --color-dark);
        margin-bottom: 0.9375rem;
        line-height: 1.75rem;
        &--light{
            color: var(--color-text-light);
        }
    }
    &__text{
        font-family: var(--font-regular);
        font-size: 1rem;
        color: var(--color-bright);
        max-width: 43.75rem;
        margin-bottom: 2.5rem;
        line-height: 1.375rem;
        padding: 0 0.625rem;
        &--light{
            color: var(--color-text-light);
        }
    }
}